.pageContent {
    display: flex;
}

.praofContent {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.pageTitle {
    margin: 0 0 50px 0;
    font-family: "NeueMachina", sans-serif;
    text-transform: uppercase;
    font-size: 2.7em;
    max-width: 1300px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}