.sideBar__wrapper {
    min-width: 230px;
}

.sideBar {
    min-width: 230px;
    width: 230px;
    padding: 50px 25px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1em;
}

.nav__link > a {
    display: inline-block;
    margin-bottom: 5px;
}

nav a {
    color: black;
}

.subLinks {
    margin-left: 5px;
    border-left: 1px solid rgba(0,0,0, 0.4);
    padding-left: 10px;
    padding-top: 5px;
    max-width: 165px;
}

.subLinks a {
    margin-bottom: 10px;
    display: block;
    color: rgba(0,0,0, 0.5);
    font-size: 0.9em;
    transition: 0.4s;
}

.subLinks a:hover {
    color: #000;
}